#my-nav,
.header {
  background-color: #fdc401;
  background-image: linear-gradient(to right, #fdc401, #ffefae);
  color: #d40511;
  margin-bottom : 0;
}
#my-nav {
  height: 50px;
  padding: 10px 30px;
}
#my-nav * {
  height: 50px;
  line-height: 50px;
  font-weight: 600;
}
.nav-brand {
  line-height: 50px;
  height: 50px;
  font-size: large;
  font-weight: bolder;
}
.header {
  padding : 5px 150px 20px 150px;
}
.header *{
  margin : 0px auto;
  color : #000;
}
.header h1{
  font-weight: 800;
  color : #d40511;
  margin-bottom : 10px;
}
.header h2{
  font-weight: 200;
  color : #d40511;
}
.header p{
  font-size: large;
}